{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "shippedProposals": true
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-syntax-class-properties"],
        "@babel/plugin-transform-runtime"
    ]
}
